  <% @posts.each do |post| %>
    <div class='post'>
      <h2><%= post.title %></h2>
      <div class='date'><%= post.created_at.strftime("%d.%m.%Y") %></div>
      <div class='line'></div>
      <div class='description'><%= auto_link(post.description) %></div>
      <%= content_tag :pre, post.code if post.code? %>
      <div class='post_options'>
        <%= link_to 'Show', post %>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
        <% post.tags.each do |tag| %>
          <%= link_to tag.name, tagged_url(:tag => tag.name) %>
        <% end %>
    </div>
  <% end %>

<br>

<%= link_to 'New Post', new_post_path %>
