<!DOCTYPE html>
<html>
<head>
  <title>&lt;jakby_co&gt; blog | Develop tips and tricks thtat I use :)</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,400,300,500&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="header">
    <div class="container">
      <div class="logo col-md-10"><%= link_to '<jakby_co_blog>', root_path %></div>
      <div class="login col-md-2">
        <% if user_signed_in? %>
          <%= link_to 'Edit profile', edit_user_registration_path %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path %> |
          <%= link_to "Login", new_user_session_path %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">      
      <div class="notice"><%= notice %></div>
      <div class="alert"><%= alert %></div>
      <div class="col-md-8">
        <%= yield %>
      </div>
      <div class="col-md-4">
        <div class='post'>
          <h4>About me</h4>
          <div class="about_photo">
            <%= image_tag("my_photo.png", :alt => "My photo") %>
          </div>
          <div class="about_links">
            <i class="fa fa-comment"></i><a href="mailto:piotrek@jakbyco.com">piotrek@jakbyco.com</a><br>
            <i class="fa fa-github"></i><a href="https://github.com/ppsirius">github.com/ppsirius</a><br>
            <i class="fa fa-twitter"></i><a href="https://twitter.com/ppsirius">@ppsirius</a><br>
            <i class="fa fa-linkedin"></i><a href="http://pl.linkedin.com/pub/piotr-pupczyk/91/82/365/">LinkedIn</a><br>
          </div>
        </div>
        <div class='post'>
          <h3>Categories</h3>
            <% tag_cloud Post.tag_counts, %w[s m l] do |tag, css_class| %>
              <%= link_to tag.name, tag_path(tag.name), class: css_class %>
            <% end %>
        </div>
        <%= link_to new_post_path do %>
          <div class="add">+</div>
        <% end %>
      </div>
    </div>
  </div>

</body>
</html>
